.navPanel {
	height: 100%;
	width: 225px;
	background-color: white;
	border-right: 1px solid lightgrey;
	display: inline-block;
	position: absolute;
	z-index: 3;
}
body {
	width: 100%;
	height: 100%;
}
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
* {}
.infoBox {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid lightgrey;
}
.nameBox {
	height: 60px;
	margin: 0px;
	margin-left: 20px;
	font: 300 1.0em/1.3em 'Mukta Malar';
}
.boxHolder {
	width: 100%;
	height: 610px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.panelContainer {
	width: 225px;
	height: 100%;
	border-right: 1px solid lightgrey;
	position: absolute;
}
.logo {
	height: 90px;
	margin-top: 20px;
}
.tabText {
	margin: 0px;
	margin-left: 15px;
	margin-top: 13px;
	display: inline-block;
	position: absolute;
	padding-top: -8px;
	font: 600 1.3em/1.3em 'Mukta Malar';
	color: #5e6163;
}
.tabPic {
	margin-left: 28px;
	margin-top: 13px;
	display: inline-block;
}
.tabPicPS {
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}
#logoPic {
	left: 50%;
	position: relative;
	margin-left: -62.5px;
}
.mainTemp {
	width: 365px;
	height: 105px;
	position: absolute;
	display: inline-block;
	left: 64%;
	top: 6.5%;
	font: 300 1.12em/1.3em 'Mukta Malar';
}
.tempToday {
	width: 105px;
	height: 100%;
	text-align: center;
	display: inline-block;
}
.tempOne {
	margin: 0px;
	font-size: 30px;
	padding: 0px;
	color: #a5c13e;
	display: inline-block;
	height: 65px;
	margin-top: -20px;
	font: 300 2.5em/1.5em 'Mukta Malar';
}
#navDate {
	margin-top: -2.5px;
	display: inline-block;
	font: 300 1.0em/1.3em 'Mukta Malar';
	font-size: 18px;
	color: grey;
	margin-left: 35px;
}
#place {
	margin: 0px;
	font-size: 7px;
	font: 400 .42em/1.3em 'Mukta Malar';
	margin-top: -8px;
	height: 12px;
}
#symbol {
	font-size: 20px;
	top: -20px;
	position: relative;
}
.tempTwo {
	height: 100%;
	display: inline-block;
	position: absolute;
	border-right: 0.5px solid lightgrey;
	border-left: 0.5px solid lightgrey;
	width: 76.5px;
}
.tempTwoDay {
	width: 50px;
	height: 20px;
	margin: 0px;
	margin-left: 10px;
	position: absolute;
}
.tempTwoPic {
	height: 27px;
	position: relative;
	left: 50%;
	top: 42px;
	margin-left: -13.5px;
}
.tempTwoText {
	position: relative;
	top: 34%;
	margin-left: 25px;
	color: black;
}
.tempThree {
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 53%;
	border-right: 0.5px solid lightgrey;
	width: 76.5px;
}
.tempThreeDay {
	width: 50px;
	height: 20px;
	margin: 0px;
	margin-left: -1.5px;
	position: absolute;
}
.tempThreePic {
	height: 27px;
	position: relative;
	left: 50%;
	top: 42px;
	margin-left: -13.5px;
}
.tempThreeText {
	position: relative;
	top: 34%;
	margin-left: 25px;
	color: black;
}
.tempFour {
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 76%;
	width: 76.5px;
}
.tempFourDay {
	width: 50px;
	height: 20px;
	margin: 0px;
	margin-left: 9px;
	position: absolute;
}
.tempFourPic {
	height: 27px;
	position: relative;
	left: 50%;
	top: 42px;
	margin-left: -13.5px;
}
.tempFourText {
	position: relative;
	top: 34%;
	margin-left: 25px;
	color: black;
}
#daySymbol {
	font-size: 14px;
	top: -10px;
	position: relative;
}
#desc {
	margin: 0px;
	font-size: 10px;
	margin-top: -39px;
	font: 400 .45em/1.3em 'Mukta Malar';
	height: 12px;
}
#navName {
	margin-top: 0px;
	display: inline-block;
	margin-bottom: -2.5px;
	font: 600 1.5em/1.5em 'Mukta Malar';
	font-size: 19px;
	color: #888;
	margin-left: 35px;
}
.tasksName {}
.projectsName {}
.eventsName {}
.panelTabs {
	height: 605px;
	width: 100%;
	display: inline-block;
	border-right: 1px solid lightgrey;
}
.tab {
	width: 100%;
	height: 50px;
	cursor: pointer;
}
.tab:hover {
	background-color: #d9e9f5;
}
.main {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	display: inline-block;
	padding: 0px;
	position: absolute;
}
.mainNav {
	width: 100%;
	height: 170px;
	background-color: white;
	margin-top: 0px;
	border-bottom: 1px solid lightgrey;
	font: 600 1.5em/1.3em 'Mukta Malar';
	color: #2786ca;
	font-size: 28px;
}
.mainContainer {
	width: 83%;
	height: 100%;
	position: relative;
	left: 16.5%;
}
.toolBar {
	height: 42px;
	width: 100%;
	position: fixed;
	background-color: #f5f5f5;
}
.icons {
	position: relative;
	left: 70%;
	height: 20px;
	width: 145px;
	display: inline-block;
	margin: 0px;
	margin-top: 10px;
}
.icon {
	display: inline-block;
	margin: 0px;
	margin-left: 35px;
	cursor: pointer;
}
.addPic {
	margin-left: 25px;
}
ul {
	padding: 0px;
	display: inline-block;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.eventsContainer {
	border: solid #bcbcbc 2px;
}
.tasksContainer {
	border: solid #bcbcbc 2px;
}
.projectsContainer {
	border: solid #bcbcbc 2px;
}
.eventsBox {
	height: 210px;
	width: 375px;
	top: 20px;
	position: relative;
	margin-left: 20px;
	/*left:50%;
	margin-left:-235px;*/
}
.calendarBox {
	width: 260px;
	height: 200px;
	position: relative;
	top: 20px;
	/*left:50%;
	margin-left:-540px;*/
	text-align: center;
	background-color: white;
	margin-left: 20px;
}
#dummyText {
	vertical-align: middle;
}
.projectsBox {
	height: 100px;
	width: 320px;
	/*	left:50%;
	margin-left:-540px;*/
	clear: both;
	position: relative;
	margin-top: -100px;
	left: 20px;
}
.tasksBox {
	height: 495px;
	width: 375px;
	position: relative;
	top: 20px;
	margin-right: 20px;
	/*left:65%;
	margin-right:10px;*/
}
.eventsTab {
	width: 100%;
	background-color: #a5c13e;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.projectsTab {
	width: 100%;
	background-color: #a5c13e;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.eventTime {
	margin: 0px;
	font-size: 20px;
	margin-top: 5px;
}
.projectsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	top: -90%;
	color: white;
	display: inline-block;
}
.eventsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	top: -90%;
	color: white;
	display: inline-block;
}
.event {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 56.5px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.eventName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventDetails {
	position: relative;
	left: 10%;
	top: 10%;
	display: inline-block;
}
.eventDetails2 {
	position: relative;
	left: 48%;
	top: 1%;
	display: inline-block;
}
.mainNavDate {
	display: inline-block;
	left: 2%;
	position: relative;
	top: 55%;
}
.nameTabs:hover {
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.navDateText {
	display: inline-block;
}
.project {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.projectName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.projectDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.projectDetails {
	position: relative;
	left: 10%;
	top: 10%;
	margin-top: 5px;
	display: inline-block;
}
.task {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
}
.overdueBox {
	font: 400 .8em/1.3em 'Mukta Malar';
	width: 100%;
	height: 55px;
	background-color: white;
	color: #ce0b24;
	border-top: solid #eaeaea 1px;
	border-bottom: solid #eaeaea 1px;
	text-align: left;
	cursor: pointer;
}
.overdueText {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
	margin-top: 5px;
	position: relative;
	left: 4%;
	border-left: 4px solid #ce0b24;
	padding: 10px;
	padding-left: 5px;
}
.tasksName {
	font: 600 1.5em/1.3em 'Mukta Malar';
	margin: 0px;
}
.tasksDate {
	font: 300 1.1em/1.3em 'Mukta Malar';
	margin: 0px;
}
.complexBox {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #9ba2a8;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	bottom: 10px;
	cursor: pointer;
}
.complexText {
	vertical-align: middle;
	display: inline-block;
	margin-top: 4px;
	font: 200 1.25em/1.3em 'Mukta Malar';
	color: white;
}
.tasksDetails {
	position: relative;
	left: 1.5%;
	top: 10%;
	display: inline-block;
	padding-left: 8.5px;
}
.slider {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
}
#sliderTest {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #ce0b24;
}
.eventStart {
	font: 400 2em/1.3em 'Mukta Malar';
	margin: 0px;
}
.eventEnd {
	margin: 0px;
}
.tasksTab {
	width: 100%;
	background-color: #2787c9;
	padding-bottom: 0px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.tasksTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	margin-top: 4px;
	color: white;
	display: inline-block;
}
.projectsTab {
	width: 100%;
	background-color: #f5a623;
	padding-bottom: 5px;
	height: 35px;
	text-align: center;
}
.projectsTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px width:190px;
	color: white;
	display: inline-block;
}
.tasksTabText {
	font: 400 1.5em/1.3em 'Mukta Malar';
	position: relative;
	height: 55px width:190px;
	color: white;
	display: inline-block;
}
.projectsAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	margin-left: 20px;
}
.projectsBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	margin-left: -120px;
	margin-top: 40px;
	display: inline-block;
}
.eventsAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	margin-left: 60px;
}
.eventsBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	margin-left: -120px;
	margin-top: 35px;
	display: inline-block;
}
.tasksAddBtn {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	display: inline-block;
	margin: 0px;
	margin-left: 60px;
}
.tasksBtnText {
	font: 400 1.0em/1.3em 'Mukta Malar';
	position: relative;
	color: white;
	margin: 0px;
	margin-left: -140px;
	margin-top: -5px;
	display: inline-block;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #9ec00f;
	-webkit-transition: .4s;
	transition: .4s;
}
.sliderBox {
	position: absolute;
	left: 80%;
	margin-top: 10px;
	display: inline-block;
}
.slider:before {
	position: absolute;
	content: "";
	height: 31px;
	width: 31px;
	left: 1px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	bottom: 1.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked+.slider {
	background-color: #d0011d;
}
input:focus+.slider {
	box-shadow: 0 0 1px #d0011d;
}
input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	content: url('right.png');
}
#sliderTest {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #ce0b24;
}
#sliderTest {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	-webkit-transition: .4s;
	transition: .4s;
}
#sliderTest2 {
	position: absolute;
	left: 85%;
	top: 19%;
	display: inline-block;
	background-color: #fece44;
}
#sliderTest2 {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	-webkit-transition: .4s;
	transition: .4s;
}
@media screen and (max-width:1320px) {
	.eventsBox {
		width: 330px;
	}
	.calendarBox {
		margin-left: 50px;
	}
	.projectsBox {}
	.tasksBox {
		width: 330px;
	}
}
@media screen and (max-width:1240px) {
	.eventsBox {
		width: 530px;
		margin-right: 50px;
	}
	.calendarBox {
		margin-left: 50px;
	}
	.projectsBox {
		top: 200px;
		margin-right: 75px;
	}
	.tasksBox {
		width: 330px;
		top: 80px;
		left: 50px;
	}
	.tasksBtnText {
		margin-left: -125px;
	}
	.boxHolder {
		margin: 0px;
		padding: 0px;
		height: 920px;
	}
	.main {
		height: 1150px;
	}
	.navPanel {
		height: 1150px;
	}
	.mainTemp {
		top: 4%;
		left: 55%;
	}
	.mainNavDate {
		display: inline-block;
		left: 10%;
		position: relative;
		top: 55%;
	}
}
@media screen and (max-width:1150px) {
	.eventsBox {
		width: 400px;
		margin-right: 50px;
	}
	.calendarBox {
		margin-left: 80px;
	}
	.tasksBox {
		width: 330px;
		top: 80px;
		left: 80px;
	}
}
@media screen and (max-width:1060px) {
	.eventsBox {
		width: 350px;
		margin-right: 30px;
	}
	.calendarBox {
		margin-left: 80px;
	}
	.tasksBox {
		width: 330px;
		top: 80px;
		left: 80px;
	}
	.projectsBox {
		width: 280px;
	}
	.projectsBtnText {
		margin-left: -95px;
	}
}
